In [33]:
SELECT MAX(len(nev)) as "Leghosszabb név karakterszáma", MIN(len(nev)) as "Legrövidebb név karakterszáma"
FROM Oktatok

Leghosszabb név karakterszáma,Legrövidebb név karakterszáma
18,10

In [32]:
SELECT AVG(LEN(nev)) as "Átlagos név karakterhossza"
FROM Oktatok
WHERE nev IS NOT NULL

Átlagos név karakterhossza
12

In [28]:
SELECT TOP 1 (titulus) as "Leggyakoribb titulusnév", COUNT(titulus) as "Darabszám"
FROM Oktatok
WHERE titulus IS NOT NULL
GROUP BY titulus

Leggyakoribb titulusnév,Darabszám
Dr.,8

In [30]:
SELECT LEN(nev) AS "Név hossza",
       count(*) AS "Darabszám"
FROM Oktatok
WHERE nev IS NOT NULL
GROUP BY LEN(nev)
ORDER BY 1

Név hossza,Darabszám
10,2
11,6
12,5
13,7
14,1
16,3
18,1

In [11]:
SELECT ROUND(AVG(Kredit),0)
FROM Tantárgyak
WHERE Kredit is NOT NULL

(No column name)
2

In [19]:
SELECT Tantárgynév, Tantárgyfelelős, Kredit
FROM Tantárgyak
WHERE Kredit >= 6 OR Kredit <=2
ORDER BY Kredit DESC

Tantárgynév,Tantárgyfelelős,Kredit
Ürgevitel,10,6
ü-business,1,2
Az ürgeöntés alapjai,5,2
Az ürgeöntés hydrológiai alapjai I.,4,2
Folyami gáttan,12,2
Ürgeöntés az EU-ban,8,1
Öntési gyakorlat,8,1

In [47]:
SELECT Tantárgyak.Tantárgyfelelős, Oktatok.nev, COUNT(*)
FROM Tantárgyak JOIN Oktatok ON Tantárgyak.Tantárgyfelelős = Oktatok.oktato_id
GROUP BY Tantárgyak.Tantárgyfelelős, Oktatok.nev
HAVING COUNT(*) > 1
ORDER BY 3 DESC

Tantárgyfelelős,nev,(No column name)
1,Kovács László,4
5,Balkán András,3
8,Pelikán József,3