In [7]:
SELECT MAX(len(Oktatok.nev)) as "Leghosszabb név karakterszáma", MIN(len(Oktatok.nev)) as "Legrövidebb név karakterszáma"
FROM Oktatok

Leghosszabb név karakterszáma,Legrövidebb név karakterszáma
18,10

In [9]:
SELECT AVG(LEN(Oktatok.nev)) as "Átlagos név karakterhossza"
FROM Oktatok

Átlagos név karakterhossza
12

In [11]:
SELECT LEN(Oktatok.nev) AS "Név hossza",
       count(*) AS "Darabszám"
FROM Oktatok
GROUP BY LEN(Oktatok.nev)
ORDER BY 1

Név hossza,Darabszám
10,2
11,6
12,5
13,7
14,1
16,3
18,1